<form action="{{path('search_surgery')}}" method="post">
    <input type="integer" name="zipCode" id="zipCode" placeholder="Votre Numéro de département ici" >
    <button type="submit">rechercher une chirurgie dans votre departement</button>
</form>