{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="pageTitle">
                Crédits
            </div>
            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">Concept du site</div>
                <div class="card-body">
                  <h4 class="card-title">Dr. Benjamin Coquet</h4>
                  <p class="card-text">Chirurgien viscéral au CH de Salon-de-Provence</p>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Développement du site</div>
                <div class="col"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQFQVKAKi9iT0w/profile-displayphoto-shrink_200_200/0/1636966688040?e=1646870400&v=beta&t=W8WpKhGSh63cSuZ7cs8JLRtMiM0pXIxZAb738au4VFY" alt=""></div>
                <div class="col card-body">
                  <h4 class="card-title">Benoit Baudrin</h4>
                  <p class="card-text">Développeur Web en formation chez WebForce3 Marseille</p>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Développement du site</div>
                <div class="card-body">
                  <h4 class="card-title">Etienne Guignard</h4>
                  <p class="card-text">Développeur Web en formation chez WebForce3 Marseille</p>
                </div>
            </div>
          
        </div>
    </div>
</div>
{% endblock %}