{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-md-8">           
            <div class="pageTitle">
                Infos Pratiques
            </div>
            <h5>FONCTIONNEMENT DU SITE :</h5>
            <h6>Vous êtes chirurgien? </h6>
            <ul>
                <li>créez votre compte</li>
                <li>utilisez le formulaire de recherche pour rechercher les aides opératoires disponibles près de chez vous</li>
            </ul>
            <h6>Vous êtes IBODE / IDE?</h6>
            <ul>
                <li>créez votre compte</li>
                <li>indiquez vos disponibilités et coordonnées</li>
                <li>votre profil est désormais consultable par les chirurgiens. Ils vous contacteront directement dès que vous apparaîtrez dans leur résultat de recherche</li>
            </ul>
            <h5>UN PROBLEME LORS DE VOTRE ENREGISTREMENT?</h5>
            <p>Si vous venez d'obtenir (moins d'un mois) votre CPS/CPF et que vous n'arrivez pas à vous enregister, nous vous inviteons à re-essayer ultérieurement. 
                La base de données et mise à jour mensuellement, mais nous travaillons pour automatiser ce processus.</p>
        </div>
    </div>

{% endblock %}