{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8" class="homeBoxGreen">
            <img src="{{ asset('../assets/img/undraw_doctors_hwty.png') }}" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-8">
            <form class="loginForm" action="{{path('login')}}" method="POST">
                {# <label for="username">Email :</label> #}
                <input type="text" name="_username" id="username" value="{{last_username}}" placeholder="Email" required>
                {# <label for="password">Mot de passe</label> #}
                <input type="password" name="_password" id="password" placeholder="Mot de Passe" required>
                <button type="submit" class="btn btn-primary">Me connecter</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="text-white bg-primary mb-3">
                <div class="card-header">Aides Opératoires</div>
                <div class="card-body">
                  <h4 class="card-title">Inscrivez-vous</h4>
                  <p class="card-text">Indiquez vos coordonnées, vos disponibilités et un chirurgien entrera directement en contact avec vous.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-white bg-secondary mb-3">
                <div class="card-header">Chirurgiens</div>
                <div class="card-body">
                  <h4 class="card-title">Inscrivez-vous</h4>
                  <p class="card-text">Créez votre compte et recherchez un(e) aide opératoire en quelques clics.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
