{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('registrationSuccess') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="d-flex">
        <div class="row bannerImage" style="background-image: url(' {{ asset("../assets/img/undraw_doctors_hwty.png") }} ');
        height: 100vh">
        <div class="row justify-content-center">
            <div class="homeIntro col-md-6">
                <h2 class="display-2 logo"><span class="text-primary">aide</span><span class="text-secondary">op</span>.com</h2> 
                <p style="background-color:#FFF;">Mise en relation des Chirurgiens et Aides Opératoires (IBODE et IDE)</p>
            </div>
        </div>
        
    
    {% if error %}
        <p class="error"> {{error.messageKey | trans(error.messageData, 'security') }}</p>
    {% endif %}

    <div class="row row-flex justify-content-center align-self-end">
        <div class="col-md-5"> 

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted("ROLE_SURGEON") %}
            {% include "form/searchAO.html.twig" %}
            </div>
            <div class="col-md-5">
            {% include "form/searchUser.php" %}
              
            
        {% elseif is_granted("ROLE_NURSE") %}
            {% include "form/searchSurgery.php" %} 
        </div>
        <div class="col-md-5">
                {% include "form/searchUser.php" %}       
        {% endif %}
    {% else %}
            {% include "form/login.php" %} 
        </div>    
            {% include "home/homeCards.php" %}
    {% endif %}
    
        </div>
    </div>
</div>
{% endblock %}