{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <p>
                Si un compte correspondant a votre email existe, alors un email viens d'y être envoyer. 
                Il contient un lien vous permettant de réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous n'avez pas reçu l'email verifier votre dossier spam, si il ne s'y trouve pas <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
    </div>    
</div>
{% endblock %}
