{% extends 'base.html.twig' %}


{% block body %}
    <h1>Ré-initialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Ré-initialiser</button>
    {{ form_end(resetForm) }}
{% endblock %}
