{% extends 'base.html.twig' %}

{% block title %}Recherche Chirurgie{% endblock %}

{% block body %}
<div class="row row-flex justify-content-center">
    <div class="col-md-5"> 
            {% include "form/searchSurgery.html.twig" %}
    </div>
</div>

{% if empty == true %}
    <p class="noResult">Il n'y a aucun résultats pour cette recherche.</p>
{% endif %}
    {% for result in results %}
        {{result.start_date | date('d-m-Y')}} <br>
        {{result.en_date| date('d-m-Y')}} <br>
        {{result.zip_code}} <br>
    {% endfor %}
</div>
<div class="container">
    <form class="row justify-content-center mb-5 form-group" action="{{path('search_availability')}}" method="post">
        <input class="mb-2 form-control" type="date" name="date" id="date">
        <input class="mb-2 form-control" type="integer" name="zipCode" id="zipCode" placeholder="Votre Numéro de département ici" >
        <button class="btn btn-primary" type="submit">rechercher une Aide operatoire disponible</button>
    </form>
</div>
{% endblock %}
