
</div>
  <div class="row footer">
      <ul class="nav justify-content-center border-bottom my-2 small">
        <li class="nav-item"><a href="{{ path('about_us') }}" class="nav-link px-2 text-muted">Qui sommes-nous?</a></li>
        <li class="nav-item"><a href="{{ path('informations') }}" class="nav-link px-2 text-muted">Infos Pratiques</a></li>
        <li class="nav-item"><a href="{{ path('contact') }}" class="nav-link px-2 text-muted">Contactez-nous</a></li>
        <li class="nav-item"><a href="{{ path('credits') }}" class="nav-link px-2 text-muted">Credits</a></li>
      </ul>
      <p class="text-center text-muted small">&copy; 2022 aideop.com</p>
   
  </div>
</div>
 
