<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AdopteUnAO.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Accueil</a>
                        <span class="visually-hidden">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('registration') }}">Enregistrement</a>
                        <span class="visually-hidden">(current)</span>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A propos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Qui sommes-nous?</a>
                            <a class="dropdown-item" href="#">Infos Pratiques</a>
                            <a class="dropdown-item" href="#">Crédits</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Contactez-nous</a>
                        </div>
                    </li>
                </ul>
                <div class="d-flex"></div>
                    <button class="btn btn-secondary mx-1" href="{{ path('account_surgeon') }}">Mon Compte</button>
                    <button class="btn btn-light" href="{{ path('app_logout') }}">Déconnexion</button>
                </div>
            </div>
        </div>
    </nav>
</header>