{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
{{form_start(form)}}
 <select name="role" id="role" class="form-select">
                            <option value ="ROLE_SURGEON">Chirugien</option>
                            <option value ="ROLE_NURSE">Aide opératoire</option>  
                        </select>
<button type="submit">trop cool</button>
{{form_end(form)}}
{% endblock %}